:root {
    --stars-bg: url("../img/stars.jpeg");
  }

.scene-container{
    position:relative;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
      0deg,
      rgba(28, 0, 73, 0.5) 0%,
      rgba(0, 1, 73, 0.3) 15%,
      rgba(0,0,0) 30%);
    width: 100%;
    
    height: 100vh;
  }
  

  .stars-bg{
    content:"";
    background-image: var(--stars-bg);
    width: 100%;
    height: 100%;
    position:absolute;
    opacity: 0.35;
  }
  
  .tree-line{
    width:100%;
    position:absolute;
    bottom:-0px;
  }
  
  .tree-line img{
    display:block;
    width:1920px;
    min-width: 100%;
  }
  
  .moon{
    position:relative;
    border-radius: 50%;
    display: flex;
    overflow:hidden;
  }
  
  .moon-shadow{
    position:absolute;
  }
  

  .slidecontainer{
    position:absolute;
    top: 10px;
    opacity: 0.5;
    z-index: 100;
  }

  .scene-seam-patch{
    position: absolute;
    top: 99vh;
    width: 100%;
    height: 2vh;
    background: black;
  }

  .shadow-aliasing-patch{
    position:absolute;
    border: 2px solid;
  }

